<template>
  <Head>
    <Title>Museum</Title>
  </Head>
  <Body>
    <NavBar></NavBar>
    <AlertsProvider></AlertsProvider>
    <div class="uk-container">
      <NuxtPage></NuxtPage>
    </div>
    <div class="internal-v-space"></div>
  </Body>
</template>

<script lang="js">
import 'uikit/dist/js/uikit-core.js';
import 'uikit/dist/js/uikit-icons.js';
</script>