<script setup lang="ts">
import useAlertStore from "~/lib/store/alerts";

const alertStore = useAlertStore()
</script>

<template>
  <div class="alerts-provider">
    <Alert
        v-for="(alert, key) in alertStore.alerts"
        :key="key"
        :id="key.toString()"
        :message="alert.message"
        :type="alert.type"
    ></Alert>
  </div>
</template>

<style scoped lang="less">
.alerts-provider {
  position: fixed;
  z-index: 1000;
  top: 10%;
  left: 80%;
  transform: translate(-50%, 0%);
  width: 30vw;

  > div {
    opacity: 0.8;
  }
}
</style>