<script setup lang="ts">
import useAlertStore from "~/lib/store/alerts";

const props = defineProps<{
  id: string,
  message: string,
  type: 'primary' | 'success' | 'warning' | 'danger',
}>();

const alertStore = useAlertStore();
const closeElement = ref<HTMLButtonElement | null>();

const timeout = ref<null | NodeJS.Timeout>(null);

const closeEvent = () => {
   setTimeout(() => alertStore.remove(props.id), 151);
}

onBeforeMount(() => {
  timeout.value = setTimeout(() => {
    if (closeElement.value) {
      closeElement.value.click();
    }
  }, 2500);
});

onUnmounted(() => {
  if (timeout.value) {
    clearTimeout(timeout.value);
  }
});
</script>

<template>
<div uk-alert :class="`uk-alert-${props.type}`">
    <a ref="closeElement" href="#" class="uk-alert-close" uk-close @click="closeEvent"></a>
    <p>{{ message }}</p>
</div>
</template>