<template>
  <nav class="uk-navbar-container">
    <div class="uk-container">
      <div uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li>
              <RouterLink to="/">
                <img class="banner-image" :src="imageBanner" alt="Museum - Media compress, Logo" />
              </RouterLink>
            </li>
          </ul>
        </div>
        <div class="uk-navbar-right" v-if="userToken !== null && userToken !== undefined">
          <ul class="uk-navbar-nav">
            <li><RouterLink to="/logout" class="uk-text-danger">Log Out</RouterLink></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="internal-v-space"></div>
</template>

<script setup lang="ts">
import imageBanner from '~/assets/banner.png';

const userToken = useCookie("userToken");
</script>

<style lang="less" scoped>
img.banner-image {
  max-width: 175px;
}
</style>