<template>
  <div v-if="!proxyConfigurationStore.loaded">
    <div uk-spinner></div>
    Loading...
  </div>
  <template v-else>
    <div uk-margin>
      <button class="uk-button uk-button-default" @click="createConfiguration">Add new</button>
      <button class="uk-button uk-button-primary" @click="save">Save</button>
    </div>
    <div class="uk-card uk-card-default uk-card-body internal-v-space"
         v-for="(config, index) in configurations" :key="config.name">
      <ProxyConfigurationForm
          v-model:name="config.name"
          v-model:type="config.type"
          v-model:ratio="config.ratio"
          v-model:xPixels="config.xLength"
          v-model:yPixels="config.yLength"
      />
      <div uk-margin>
        <button class="uk-button uk-button-danger" @click="removeConfiguration(index)">Remove</button>
      </div>
    </div>
  </template>
</template>

<script setup lang="ts">
import useProxyConfigurationStore from "~/lib/store/remote/proxyConfiguration";
import {ImageProxyType, ProxyConfiguration} from "~/lib/api/museum/v1/images_pb";
import useAlertStore from "~/lib/store/alerts";

const props = defineProps<{
  userToken: string | null,
}>();

const proxyConfigurationStore = useProxyConfigurationStore();
const alertStore = useAlertStore();
const configurations = ref<ProxyConfiguration[]>([]);

const createConfiguration = () => {
  configurations.value = [...configurations.value, new ProxyConfiguration({
    name: '',
    type: ImageProxyType.UNSPECIFIED,
    ratio: 0,
    xLength: 0,
    yLength: 0,
  })];
};

const removeConfiguration = (itemIndex: number) => {
  configurations.value = configurations.value.filter((value, index) => index !== itemIndex);
};

const save = async () => {
  let isValid = configurations.value.map((value, index) => {
    if (!(value.name.length >= 3 && /^[a-z0-9\-]+$/i.test(value.name))) {
      alertStore.create({
        type: 'danger',
        message: `The configuration #${index + 1} has not valid name`,
      });
      return false;
    }

    if (value.type === ImageProxyType.UNSPECIFIED) {
      alertStore.create({
        type: 'danger',
        message: `The configuration #${index + 1} must specify the type as RATIO or PIXELS`,
      });
      return false;
    } else if (value.type === ImageProxyType.RATIO && value.ratio == 0) {
      alertStore.create({
        type: 'danger',
        message: `The configuration #${index + 1} with type RATIO has value of 0`,
      });
      return false;
    } else if (value.type === ImageProxyType.PIXELS && value.yLength == 0 && value.xLength == 0) {
      alertStore.create({
        type: 'danger',
        message: `The configuration #${index + 1} with type PIXELS has both value as 0`,
      });
      return false;
    }

    return true;
  }).every(el => el);

  if (isValid && props.userToken !== null) {
    if (configurations.value.length == 0) {
      alertStore.create({
        type: 'warning',
        message: `The configuration list is empty, this will delete all proxies`,
      });
    }

    let waitingId = alertStore.create({
      type: 'primary',
      message: 'Updating proxy configuration',
    })
    await proxyConfigurationStore.save(configurations.value.map(el => ({...el} as ProxyConfiguration)), props.userToken);
    alertStore.remove(waitingId);
    alertStore.create({
      type: 'success',
      message: 'Configuration list updated',
    });
  }
};

onMounted(async () => {
  if (props.userToken !== null) {
    await proxyConfigurationStore.init(props.userToken);
    configurations.value = proxyConfigurationStore.configurations;
  }
});
</script>