<template>
  <div class="uk-form-stacked">
    <div class="uk-margin">
      <label class="uk-form-label" for="name">Name</label>
      <div class="uk-form-controls">
        <input
            type="text"
            name="name"
            id="name"
            class="uk-input"
            :class="!nameIsValid? 'uk-form-danger' : ''"
            placeholder="Configuration name"
            :value="name"
            @blur="updateName"
        >
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="type">Type</label>
      <div class="uk-form-controls">
        <select
            class="uk-select"
            :class="!configurationTypeIsValid? 'uk-form-danger' : ''"
            v-model="type"
            aria-label="Select"
        >
          <option :value="ImageProxyType.UNSPECIFIED" disabled hidden>Unspecified</option>
          <option :value="ImageProxyType.RATIO">Ratio</option>
          <option :value="ImageProxyType.PIXELS">Pixels</option>
        </select>
      </div>
    </div>
    <template v-if="type == ImageProxyType.RATIO">
      <div class="uk-margin">
        <label class="uk-form-label" for="ratio">Ratio</label>
        <div class="uk-form-controls">
          <input
              type="number"
              step="0.01"
              name="ratio"
              id="ratio"
              class="uk-input"
              :class="!ratioIsValid? 'uk-form-danger' : ''"
              placeholder="x.xx"
              v-model="ratio"
          >
        </div>
      </div>
    </template>
    <template v-else-if="type == ImageProxyType.PIXELS">
      <div class="uk-margin">
        <label class="uk-form-label" for="ratio">Pixels configuration</label>
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <input
                class="uk-input"
                :class="!pixelsIsValid? 'uk-form-danger' : ''"
                type="number"
                placeholder="xx"
                step="1"
                v-model="xPixels"
            >
          </div>
          <div class="uk-width-1-2">
            <input
                class="uk-input"
                :class="!pixelsIsValid? 'uk-form-danger' : ''"
                type="number"
                placeholder="xx"
                step="1"
                v-model="yPixels"
            >
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script setup lang="ts">
import {ImageProxyType} from "~/lib/api/museum/v1/images_pb";

const name = defineModel<string>('name');
const type = defineModel<number>('type');
const ratio = defineModel<number>('ratio');
const xPixels = defineModel<number>('xPixels');
const yPixels = defineModel<number>('yPixels');

const updateName = (evt: Event): void => {
  let input = evt.target as HTMLInputElement;
  name.value = input.value;
};

const nameIsValid = computed(() => {
  if (!name.value) {
    return false;
  }
  return name.value.length >= 3 && /^[a-z0-9\-]+$/i.test(name.value);
});

const configurationTypeIsValid = computed(() => type.value !== ImageProxyType.UNSPECIFIED);

const ratioIsValid = computed(() => ratio.value !== undefined && ratio.value > 0);
const pixelsIsValid = computed(() => (xPixels.value !== undefined && xPixels.value > 0) || (yPixels.value !== undefined && yPixels.value > 0));
</script>