<template>
  <div class="uk-container">
    <h2>Proxy configurations</h2>
    <ProxyConfiguration :userToken="session.userToken ?? null"/>
  </div>
  <hr>
  <div class="uk-container">
    <h2>Images</h2>
    <p>Pending...</p>
  </div>
</template>

<script setup lang="ts">
import useSessionStore from "~/lib/store/session";

const session = useSessionStore();

onBeforeMount(() => {
  if (!session.isLoggedIn) {
    const router = useRouter();
    router.push("/login");
  }
});
</script>