<template>
  <div class="uk-form-stacked">
    <div class="uk-margin">
      <label class="uk-form-label" for="api_key">API Key</label>
      <div class="uk-form-controls">
        <input
            :type="showApiKey? 'text' : 'password'"
            name="api_key"
            id="api_key"
            class="uk-input"
            placeholder="Enter your API Key"
            v-model="apiKey"
            @keydown.enter="sendForm"
        >
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="show_api_key">
        <input
            type="checkbox"
            name="show_api_key"
            id="show_api_key"
            class="uk-checkbox"
            @click="showApiKey = !showApiKey"
        >
        Show API Key
      </label>
    </div>
    <div class="uk-margin">
      <button class="uk-button uk-button-primary" @click="sendForm">Log In</button>
    </div>
  </div>
</template>

<script setup lang="ts">
import {createPromiseClient} from "@connectrpc/connect";
import {AuthService} from "~/lib/api/museum/v1/base_connect";
import {createConnectTransport} from "@connectrpc/connect-web";
import useAlertStore from "~/lib/store/alerts";
import useSessionStore from "~/lib/store/session";

const session = useSessionStore();
const router = useRouter();

onBeforeMount(() => {
  if (session.isLoggedIn) {
    router.push("/");
  }
})

const alerts = useAlertStore();

const showApiKey = ref(false);
const apiKey = ref<string | null>(null);
watch(apiKey, () => {
  showApiKey.value = false;
  if (apiKey.value === "") {
    apiKey.value = null;
  }
})

const client = createPromiseClient(AuthService, createConnectTransport({
  baseUrl: useAppConfig().grpcHost,
}));

const sendForm = async () => {
  if (apiKey.value == null) {
    alerts.create({
      message: 'You must provide an api key',
      type: 'warning',
    });
    return;
  }

  let response = await client.testTokenAuth({
    key: apiKey.value ?? '',
  });

  if (response.ok) {
    alerts.create({
      message: 'Login successfully',
      type: 'success',
    });

    session.userToken = apiKey.value;
    await router.push("/");
  } else {
    alerts.create({
      message: 'Bad credentials',
      type: 'danger',
    });
  }
};
</script>
