<script setup lang="ts">
import useAlertStore from "~/lib/store/alerts";
import useSessionStore from "~/lib/store/session";

const session = useSessionStore();
const router = useRouter();
const alertStore = useAlertStore()

onBeforeMount(() => {
  if (session.isLoggedIn) {
    session.clear();
    alertStore.create({
      type: 'primary',
      message: 'User logged out',
    });
  }
  router.push("/");
});
</script>

<template>
  <p>Logging out...</p>
</template>