@import "uikit/src/less/uikit.theme.less";

@internal-accordion-open-image: "uikit/src/images/backgrounds/accordion-open.svg";
@internal-accordion-close-image: "uikit/src/images/backgrounds/accordion-close.svg";
@internal-form-select-image: "uikit/src/images/backgrounds/form-select.svg";
@internal-form-datalist-image: "uikit/src/images/backgrounds/form-datalist.svg";
@internal-form-radio-image: "uikit/src/images/backgrounds/form-radio.svg";
@internal-form-checkbox-image: "uikit/src/images/backgrounds/form-checkbox.svg";
@internal-form-checkbox-indeterminate-image: "uikit/src/images/backgrounds/form-checkbox-indeterminate.svg";
@internal-divider-icon-image: "uikit/src/images/backgrounds/divider-icon.svg";
@internal-list-bullet-image: "uikit/src/images/backgrounds/list-bullet.svg";

.internal-v-space {
  margin-top: 1rem;
}